<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/css/crear-persona.css'>
</head>
<body>
    <h1>Crear persona:</h1>
    <form>
        <input type="text" placeholder="Nombre" id="input-nombre" required><br>
        <input type="text" placeholder="Apellido" id="input-apellido" required><br>
        <input type="number" placeholder="Edad" id="input-edad" min="0" required><br>
        <button class="btnEnviar">Enviar</button>
    </form>


    <script src='../../public/js/crear-persona.js'></script>
</body>
</html>