<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/css/ver-persona.css'>
</head>
<body>
    <h1>Persona:</h1>
    <p id="nombre"></p>
    <p id="apellido"></p>
    <p id="edad"></p>

    <a href="index.html"><button>Volver</button></a>
    <a href="editar-persona.html"><button>Editar</button></a>
    
    <button id="btnEliminar">Eliminar</button>

    <script src='../../public/js/ver-persona.js'></script>
</body>
</html>