<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/css/ver-persona.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Persona:</h1>
    <h2>Nombre: </h2>
    <h2>Apellido: </h2>
    <h2>Edad: </h2>

    <a href="index.html"><button>Volver</button></a>

    <script src='../../public/js/ver-persona.js'></script>
</body>
</html>